.pay {
  padding-top: 46px;
  padding-bottom: 60px;
  background-color: aliceblue;
}
.pay .address-box {
  padding: 15px;
  margin-top: 10px;
  position: fixed;
  width: calc(100% - 30px);
  z-index: 3;
}
.pay .address {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.pay .address-title {
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  color: #444;
}
.pay .arrow-box {
  width: 16px;
  height: 16px;
  margin-top: 8px;
  margin-left: 5px;
}
.pay .arrow-icon {
  line-height: 16px;
  font-size: 16px;
  color: #444;
}
.pay .name {
  color: #0C34BA;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
.pay .phone {
  color: #999;
  font-size: 16px;
  line-height: 30px;
  margin-left: 20px;
}
.pay .address-info {
  font-size: 14px;
  color: #999;
}
.pay .address-content {
  min-height: 59px;
  margin-top: 20px;
}
.pay .order-info {
  margin-top: 20px;
  padding: 20px;
  position: relative;
}
.pay .order-box {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  top: 150px;
  margin-bottom: 55px;
  z-index: 1;
}
.pay .order-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
  position: sticky;
}
.pay .pro-img {
  width: 70px;
  height: 70px;
  margin: 0 10px;
}
.pay .pro-info {
  width: calc(100% - 114px);
  height: 70px;
}
.pay .text-box {
  height: 46px;
}
.pay .price-box {
  height: 24px;
}
.pay .text-name,
.pay .text-rule {
  height: 22px;
  line-height: 22px;
}
.pay .text-name {
  font-size: 16px;
  color: #444;
}
.pay .text-rule {
  font-size: 14px;
  margin-left: 10px;
  color: #999;
}
.pay .text-enname {
  height: 24px;
  font-size: 12px;
  color: #999;
}
.pay .price {
  color: #0C34BA;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
.pay .count {
  line-height: 24px;
  font-size: 14px;
  color: #999;
}
.pay /deep/ .van-nav-bar__text {
  color: white;
}
.pay /deep/ .van-icon-arrow-left::before {
  color: white;
}
.pay /deep/ .van-nav-bar .van-icon {
  color: #0C34BA;
}
.pay .cell-box {
  margin-bottom: 5px;
  border-bottom: 1px dashed #a8a8a8;
  padding-bottom: 5px;
}
.pay .cell-box:last-child {
  margin-bottom: 0;
}
.pay .pro-box {
  margin-top: 30px;
  position: relative;
}
.pay .pro-boxing {
  padding-top: 30px;
  border-top: 1px dashed black;
}
.pay .left-box {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: aliceblue;
  border-radius: 50%;
}
.pay .left {
  left: -20px;
}
.pay .right {
  right: -20px;
}
.pay .pro-count {
  font-size: 14px;
  font-weight: bold;
  color: #444;
}
.pay .pro-total {
  font-size: 14px;
  font-weight: bold;
  color: #0C34BA;
}
.pay .pay-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
  padding: 0 10px;
  background-color: #f5f5f5;
  padding-bottom: 10px;
}
.pay .address-title-box {
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  padding-top: 10px;
}
.pay /deep/ .van-tag--danger {
  background-color: #0C34BA;
}
.pay /deep/ .van-address-item .van-radio__icon--checked .van-icon {
  background-color: #0C34BA;
  border-color: #0C34BA;
}
.pay /deep/ .van-button--danger {
  background-color: #0C34BA;
  border-color: #0C34BA;
}
.pay /deep/ .van-address-item__edit {
  display: none;
}
.pay /deep/ .van-address-item__value {
  padding-right: 0;
}
.pay /deep/ .van-popup {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.pay .head-bg {
  height: 150px;
  width: 135%;
  background-image: url(../imgs/order-bg.jpg);
  background-size: cover;
  position: fixed;
  left: -17.5%;
  top: 0;
  border-bottom-left-radius: 95px;
  border-bottom-right-radius: 95px;
  z-index: 2;
}
.pay /deep/ .van-nav-bar--fixed {
  background-color: transparent;
}
.pay /deep/ .pay-btn {
  z-index: 2;
}
.pay /deep/ .van-nav-bar__title {
  color: white;
}
/*# sourceMappingURL=./pay.css.map */